@keyframes fade-hide {
  to {
    opacity: 0;
  }
}

@keyframes fade-show {
  from {
    opacity: 0;
    translate: 0 0.5rem;
  }
}

@keyframes pop-in {
  from {
    opacity: 0;
    scale: 0.4;
  }
}
