.flow-carry {
  display: none;
}

.flow-row {
  --carry: 135px 0;
}

.flow-column {
  --carry: 0 100px;
}

@supports ((animation-timeline: view()) and (animation-range: 0% 100%)) {
  @media (prefers-reduced-motion: no-preference) {
    .flow-carry {
      display: inline;
      animation: flow-carry linear both;
      animation-timeline: --ch-how;
    }

    .flow-carry[data-carry="a"] {
      animation-range: contain calc(100% - 100dvh - var(--dwell) * 1) contain
        calc(100% - 100dvh - var(--dwell) * 0.62);
    }

    .flow-carry[data-carry="b"] {
      animation-range: contain calc(100% - 100dvh - var(--dwell) * 0.85) contain
        calc(100% - 100dvh - var(--dwell) * 0.46);
    }

    .flow-carry[data-carry="c"] {
      animation-range: contain calc(100% - 100dvh - var(--dwell) * 0.69) contain
        calc(100% - 100dvh - var(--dwell) * 0.31);
    }

    .flow-carry[data-carry="d"] {
      animation-range: contain calc(100% - 100dvh - var(--dwell) * 0.38) contain
        calc(100% - 100dvh - var(--dwell) * 0);
    }
  }
}

@keyframes flow-carry {
  0% {
    opacity: 0;
    translate: 0 0;
  }
  15%,
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    translate: var(--carry);
  }
}
